
    {% extends "base.html" %}
    {% block title %}Games-Chile{% endblock %}
    {% block content %}
        
            <div class="fixed-grid has-1-cols-mobile has-3-cols-desktop">
                <div class="grid">

                    {%for juego in juegos %}
                    
                    <div class="card">
                        <div class="card-image">
                        <figure class="image is-3by3">
                            <img
                            src="{{juego.srcImage}}"
                            alt="Placeholder image"
                            />
                        </figure>
                        </div>
                        <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <div class="level is-mobile">
                                    <div class="level-left">
                                        <p class="title is-4 level-item">{{juego.nombre}}</p>
                                    </div>
                                    <div class="level-right">
                                        <p class="subtitle is-6 level-item">{{juego.categoria}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    
                        <div class="content preview-content ">
                            <p>{{juego.preview}}</p>
                            
                            <p>&#36;{{juego.precio}}</p>
                        </div>
                        
                        <form  action="juego" method="get"> 
                            {% csrf_token %}
                            <div class="input-div">
                                <button type="submit" id="juegoId" name="juego_id" value="{{juego.id}}">Ver</button>
                            </div>
                        </form>

                        </div>
                    </div>

                    
                    {%endfor%}
                </div>
            </div>

        
    {% endblock %}





