{% extends "base.html" %}

    {% block title %}Juego{% endblock %}

    {% block content %}
    
    <div class="box ">
        <figure class="image is-2by1">
            <img src="{{juego.srcImage}}">
        </figure>
        <div class="section">
            <h2 class="title is-2">{{juego.nombre}}</h2>
            <p class="subtitle is-5">{{juego.categoria}}</p>
            <div class="level-left">
                <bold class="subtitle is-4">{{juego.precio}}</bold>
                <a href="{% url 'agregar_al_carrito'  juego_id=juego.id %}">Agregar al carro</a>
            </div>
            <br/>
        </div>

        <div class="content section">
            <p>{{juego.descripcion}}</p>
        </div>
    </div>
    {%if carro%}
    <p class="content">{{carro}}</p>
    {% endif %}
    
    {% if comentarios %}
    <div class="section">
       
            {%for comentario in comentarios%}
                <div class="card">
                    
                    <div class="card-header">
                        <p class="card-header-title is-2">{{comentario.nombre}}</ps>
                        <p clas="subtitle is-5">{{comentario.email}}</p>
                    </div>
                    <div class="card-content">
                       
                        <p>{{comentario.comentario}}</p>
                        <br/>
                        
                    </div>
                    <div class="level-right">
                        <a class="level-item" href="{% url 'comentario_delete' comentario_pk=comentario.id %}">Eliminar</a>
                        <a class="level-item" href="{% url 'comentario' comentario_pk=comentario.id %}">Editar</a>
                              
                    </div>
                    <!---->
                    
                   
                </div>
                
            {%endfor%}
        {% endif %}

    </div>
    <form class="box" method="post" action="juego">
    {% csrf_token %}
    
        
        <input type="hidden" name="juegoId" value="{{juego.id}}" >
        <div class="field">
            <label class="label">Nombre</label>
            <div class="control">
                <input class="input" type="text" name="nombre">
            </div>
        </div>
        <div class="field">
            <label class="label">E-mail</label>
            <div class="control has-icons-left">
                <input class="input" type="email" name="email">

                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
            </div>
        </div>

        <div class="field">
            <label class="label" for="label">Comentario</label>
            <div class="control">
                <textarea class="textarea" name="comentario"></textarea>
            <div class="control has-icons-left">

        </div>
        
        <div class="section">
            <div class="field is-grouped is-grouped-right">
                <div class="control">
                    <button class="button is-primary" type="submit" name="btnAgregarComentario" col=10>Agregar comentario</button>
                </div>
            </div>
        </div>
    



   

    </form>

    
    {% endblock %}

