@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Montserrat", sans-serif;
}

#topBanner{
   margin: auto;
   padding: 10px 50px;
   
}

#topBanner img{
    display: block;
    margin: auto;
    width: 100%;
 }
 textarea, input{
    display: block;
    margin-bottom: 10px ;
    width: 100%;
    margin-top: 5px;
   
    
 }
 .input-container{
    margin: auto;
    width: 80%;
    margin-top: 20px;

    
 }
 #button-div{
    align-self: self-end;
    margin-top: 20px;
    padding: 20px;

 }
form{
    color: blue;
    background-color: silver;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;
    right: 30px;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
    float: right;

}

#descripcion{
    
    margin: auto;
    padding: 10px 50px;
    
    
}
#container{
    position: relative;
    margin: auto;
    border-top: 1px solid silver;
    width: 60vw;
    background-color: aqua;
    
}